{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
<div class="container-sm">
    <div class="row">
        <label>
            {{ form_label(form.Name, "Fullname") }}
        </label>
        {{ form_widget(form.Name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">
        <label>
            {{ form_label(form.Dob, "Date of Birth") }}
        </label>
        {{ form_widget(form.Dob, {'attr': {'class': 'form-control', 'type':'date'}}) }}
    </div>

    <div class="row">
        <label>
            {{ form_label(form.PhoneNum, "Phone number") }}
        </label>
        {{ form_widget(form.PhoneNum, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="row">
        <label>
            {{ form_label(form.Gender, "Gender") }}
        </label>
        {{ form_widget(form.Gender, {'attr': {'class': 'form-control'}}) }}
    </div>

    <br>
    <div class="row">
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}