{% extends 'base.html.twig' %}

{% block title %}CheckAttendance index{% endblock %}

{% block body %}
    <h1>CheckAttendance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AttendanceDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for check_attendance in check_attendances %}
            <tr>
                <td>{{ check_attendance.id }}</td>
                <td>{{ check_attendance.attendanceDate }}</td>
                <td>
                    <a href="{{ path('app_check_attendance_show', {'id': check_attendance.id}) }}">show</a>
                    <a href="{{ path('app_check_attendance_edit', {'id': check_attendance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_check_attendance_new') }}">Create new</a>
{% endblock %}
